{%extends 'base.html' %}
{%block content %}

<h1>Student list</h1>
<p>STUDENTS AT eMOBILIS</p>
<table class="table table-stripped table-bordered">
    <thead class="table-danger">
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>COURSE</th>
        <th>ACTIONS</th>
    </thead>
    <tbody>
        {%for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.course}}</td>
            <td>
                <a href="{%url 'delete' student.id %}"><button class="btn btn-danger">DELETE</button></a>
                <button class="btn btn-primary">EDIT</button>
                <button class="btn btn-success">VIEW</button>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock%}